ErrorDocument 500 /controllers/errors/index.php?action=index
ErrorDocument 404 /controllers/errors/index.php?action=notfound

Options -MultiViews
DirectorySlash Off

RewriteEngine On
RewriteBase /

#css rewrite rule
RewriteRule ^stylesheets/(.*)\.css$ /stylesheets/scss.php/$1.scss [QSA,R=301,L]

RewriteCond %{HTTP_HOST} !^m\.
RewriteRule ^$ controllers/project/index.php?action=index [QSA,L]

# controller redirect rule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\/([^\?]+)$ controllers/$1/index.php?action=$2 [QSA,L]


<Files *.*>
    Order Deny,Allow
    Deny from all
</Files>

<Files ~ "\.(php|js|sql|css|svg|eot|ttf|woff|woff2|ico)$">
    Order Allow,Deny
    Allow from all
</Files>