Options -MultiViews
DirectorySlash Off

RewriteEngine On

#base redirect rule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule index.php controllers/test/index.php [L] 

#controller redirect to internal file rule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)/(.+)$ controllers/$1/$2.php [L]

#controller redirect rule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ controllers/$1/index.php [L]



<Files *.*>
    Order Deny,Allow
    Deny from all
</Files>

<Files ~ "\.(php|js|sql|css|svg|eot|ttf|woff|woff2)$">
    Order Allow,Deny
    Allow from all
</Files>